<h1>Welcome to CarDealershipReviews!</h1>

<p>This is a sample appliction to allow Authorization and Authentication to the system. Once authenticated, you can perform authorized actions related to your account. Such as leave a review for one of the listed dealerships.</p>
<img src="/img/HomeImage.jpg" alt="CarDealershipReviews" class="home-cover"/>
<footer>This is only a sampe application and all data held within is for illustrative purposes. The author of this application or the application itself are in no way related to any listed dealership or auto manufacturer. Any listed data or entity here should be regarded as fictitious.</footer>
